/* Move down content because we have a fixed navbar that is 50px tall */
body {
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="select"] {
    max-width: 280px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .body-content {
        padding: 0;
    }
}

.site {
    margin: 0;
    padding: 4px !important;
    display: table;
}

    .site div {
        margin: 4px !important;
        padding: 4px 8px;
        cursor: pointer;
    }

    .site p {
        margin: 0;
        padding: 0;
    }

@media screen and (min-width: 642px) {
    .site div {
        /* Only needed while we use bootstrap */
        height: 400px;
        display: table-cell;
        vertical-align: middle;
    }

    .site.small div {
        height: 140px;
        display: table-cell;
        vertical-align: middle;
    }
}

.nav-items li:hover, .nav-items li a:hover {
    background-color: #404040 !important;
}

.site div:hover {
    background-color: #dfdfdf;
}

.sites h3 {
    font-size: 23px;
}

.prefix.radius {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.postfix.radius {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.good {
    color: #007f00;
}

.bad {
    color: #7f0000;
}

.neutral {
    color: #7f7f00;
}

.grey {
    color: #7f7f7f;
}

.detail-header {
    margin-top: 5px;
}

.hidden,
.show-for-large-up.hidden,
.show-for-medium-up.hidden {
    display: none !important;
}

.detail-table,
.detail-table tr:nth-child(2n) {
    border: none;
    background-color: inherit;
}

code {
    color: #cf2f2f;
}

.columns.graphs {
    padding: 0 !important;
    margin: 0 !important;
}

.small {
    font-size: 75%;
}

.logo {
    background-color: #dfdfdf;
    padding: 5px;
}

.block {
    display: block !important;
}

.center {
    text-align: center;
}

.image-32 {
    width: 32px;
    height: 32px;
}

.compare-panel {
    position: fixed;
    bottom: 5px;
    right: 5px;
    z-index: 99;
}

/* Graph CSS */
.axis,
.tooltip {
    font: 10px sans-serif;
}

    .axis path,
    .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }

.x.axis path {
    display: none;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.x.axis.lineChartAxis path {
    display: inherit;
}
